/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Projects
        4.4 Services
        4.5 Contact Form
    5. Media Queries
////////////////////////*/

/* ---------------------- 1. Global Styles -------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-text-black: #0C0C0C;
    --color-text-grey: #7A7A7A;
    --color-bg-lightgrey: #F3F6F9;
    --color-bg-text-lilac: #F2F0FF; /*voor bonus opdracht */
}

body {
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------- 2. Typography ---------------------------- */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

/* ------------------------- 3. Layout -------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

button {
    background-color: var(--color-pink);
    color: #FFFFFF;
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    margin: 1rem;
    align-self: center;
    box-shadow: 0 0 4px black;
    text-transform: uppercase;
    min-width: 15rem;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------- 4. Areas --------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header {
    background: rgb(72,69,228);
    background: linear-gradient(135deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    color: #FFFFFF;
    /*padding: 80px;*/
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 3px dashed black;
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 3rem;
    gap: 3rem;
    list-style: none;
}

.nav-list li {
}

.nav-list a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 2rem;
    max-width: 700px;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

.header-text p {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;

}

.header-img {
    width: 60px;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction {
    max-width: 700px;
    padding: 5rem 2rem;
    text-align: center;

}

.introduction h2 {
    color: var(--color-purple);
    margin: 2rem 0;
}

.introduction p {
    margin: 2rem 0;
}

.introduction a {
    text-decoration: none;
    color: var(--color-purple);
}

/* --------------- 4.3 Projects ------------------- */

.projects {
    background-color: var(--color-bg-lightgrey);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed red;
}

.projects article {
    max-width: 30vw;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 1rem 2rem;

    border: 3px dashed black;
}

.projects article img {
    margin: 2rem 0;
}

.project-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-purple);
    line-height: 4rem;
}

.projects span {
    max-width: 60vw;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 1rem 2rem;

}

.project-photo {
    width: 100%;
}

/* --------------- 4.4 Services ------------------- */

.services {
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.services article {
    border: 1px solid var(--color-purple);
    flex-basis: 21rem;
    height: 25rem;
    flex-shrink: 0;
    padding: 2rem;
    margin: 2rem;
}

.services img {
    max-width: 60px;
}

.services h3 {
    color: var(--color-purple);
    margin: 2rem 0;
}

/* --------------- 4.5 Contact Form ------------------- */

.contact-form {
    background: linear-gradient(135deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px dashed red;
}

input, textarea {
    width: 100%;
    margin: auto;


}



/* ------------------------- 5. Media Queries -------------------------- */

@media screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .projects {
        flex-direction: row;
    }

    .reverse article {
        order: 1;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
}